h3 {
    margin-bottom: 5%;
}
html {
    scroll-behavior: smooth;
}

.articles {
    width: 550px;
    border-left: 1px solid #b7bec2;
    border-right: 1px solid #b7bec2;
    border-top: 1px solid #b7bec2;
    margin: auto;
}

.article {
    width: 100%;
}

.widget {
    width: 100%;
    max-width: 550px;
    font-family: "Roboto Light", Geneva, sans-serif;
}

.hello-message h4 {
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.new-tweet-label {
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 1000;
}

.new-tweet-label a:hover {
    transform: translateY(-3px);
}

.new-tweet-label a::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all .2s;
}

.new-tweet-label a:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.new-tweet-label a {
    background-color: #004e92;
    border-radius: 10rem;
    color: #fff !important;
}