.no-found-message {
    padding-top: 30px;
}

.no-found-message svg {
    width: 11em;
    height: 11em;
}

@media all and (max-width: 30em) {
    .no-found-message svg {
        width: 9em;
        height: 9em;
    }
}